name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        build_type: [Release, Debug]
        cpp_compiler: [g++, clang++, msvc]
        sanitizer: [ENABLE_ASAN, ENABLE_UBSAN, ENABLE_TSAN, DISABLE_SANITIZERS]
        exclude:
          - os: ubuntu-latest
            cpp_compiler: msvc
          - os: macos-latest
            cpp_compiler: msvc
          - os: macos-latest
            cpp_compiler: g++
          - os: windows-latest
            cpp_compiler: g++
          - os: windows-latest
            sanitizer: ENABLE_ASAN
          - os: windows-latest
            sanitizer: ENABLE_UBSAN
          - os: windows-latest
            sanitizer: ENABLE_TSAN

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

      - name: Configure CMake
        run: >
          cmake -B ${{ steps.strings.outputs.build-output-dir }}
          -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -DENABLE_TESTING=1
          -D${{ matrix.sanitizer }}=1
          -S ${{ github.workspace }}

      - name: Build
        run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

      - name: Run tests
        working-directory: ${{ github.workspace }}
        run: ctest -C ${{ matrix.build_type }} --test-dir ${{ steps.strings.outputs.build-output-dir }} --output-on-failure
